/reCaptcha/nbproject/private/
/Cep/nbproject/private/
/cep/nbproject/private/
/TesteBulma/nbproject/private/
/Java/GerDB/nbproject/private/
/Java/GerDB/build/
/Java/GerBD/nbproject/private/
/Java/GerBD/build/
/Java/TesteOracle/nbproject/private/
/Java/TesteOracle/build/
/Java/Teste/nbproject/private/
/Java/Teste/build/
/Java/Teste2/nbproject/private/
/Java/Teste2/build/
/Java/Teste3/nbproject/private/
/Java/Teste3/build/
/Java/Teste4/nbproject/private/
/Java/Teste4/build/
/Java/viewSpark/nbproject/private/
/Java/viewSpark/build/
/Java/viewSpark/dist/
/Java/CustomerDB/nbproject/private/
/Java/CustomerDB/build/
/Java/CustomerDB/dist/
/Java/MessageBoard/nbproject/private/
/Java/MessageBoard/build/
/Java/Teste4/dist/
/Java/Teste1/nbproject/private/
/Java/Teste1/build/
/Java/Teste1/dist/
/Java/TesteRDB/nbproject/private/
/Java/TesteRDB/build/
/Java/TesteRDB/dist/
/Java/TesteCon/nbproject/private/
/Java/TesteCon/build/
/Java/TesteCon/dist/
/Java/Teste5/nbproject/private/
/Java/WebApplication1/nbproject/private/
/Java/WebApplication1/build/
/Java/WebApplication1/dist/
/Java/WebApplication2/nbproject/private/
/Java/AffableBean_snapshot2/nbproject/private/
/Java/AffableBean_snapshot2/build/
/Java/AffableBean_snapshot2/dist/
/Java/AffableBean/nbproject/private/
/Java/AffableBean/build/
/Java/AffableBean/dist/
/Java/Verna/nbproject/private/
/Java/Verna/build/